
.container{
    margin-top: 50px;
}
.inputContact{
    width: 100%;
    height: 5vh;
}
.inputFeedback{
    width: 100%;
    height: 50vh;  
}
.labelContact{
    text-align: left;
    justify-content: left;
    font-size: 20px;
    color: teal;
}
.heading{
    font-size: 50px;
    color: #256b75;
    font-weight: 600;
   margin-top:100px;
}
.invalid{
    border:1px solid red;
}
.invalid:focus{
    border:1px solid red;
}