.icons{
    font-size:36px;
}
.searchInput{
    height: 55px;
    margin: 0px;
  
}
.active {
    background-color:#17a2b8;
    }
.sortItem{
  width: 220px;
}
.sortItem:hover {
        background-color:#17a2b8;
        }
.Buttons{
    margin:10px;
    width: 300px;
}

.Reset{
    margin:10px;
    width: 100px;
}
.dateInput{
    background-color:#17a2b8 ;
    color: white;
    border: 2px solid white;
}